/*general*/
:root {
    --BG-dark-grey: #1d1d20;
    --grey-border: #6c6c6c;
    --accent-blue: #087BC8;
    --text-grey: #c6c6c6;
    --link-white: aliceblue;
}

* {
    color: var(--text-grey);
    background-color: var(--BG-dark-grey);
    display: block;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

main {
    margin: auto;
    width: 80%;
}

.svg-storage, title, style, script {
    display: none;
}

a {
    text-decoration: none;
}

/*logo*/

.svg-logo {
    fill: var(--accent-blue);
    border: var(--accent-blue) solid 0.3rem;
    border-radius: 5%;
    opacity: 70%;
}

h1 {
    font-size: 3.25rem;
    margin: 2rem 0;
}

main .container {
    height: 42rem;
}
/*nav*/

nav {
display: flex;
margin-left: auto;
margin-right: auto;
justify-content: space-between;
align-items: center;
padding: 3rem 4rem;
max-width: 65%;
}

.nav-menu {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.nav-buttons {
    height: 1.6rem;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-left: 2rem;
    padding-left: 0rem;
}

.nav-button {
    list-style: none;
    height: 1.6rem;
    display: contents;
    padding-bottom: 1rem;
    border-bottom: transparent 3px solid;
}

.nav-button :hover{
    border-bottom:  var(--accent-blue)
}

#nav-home a {
    color: var(--accent-blue);
}

/*mode swap*/

.button-icon {
    border: white solid 1px;
}

/*home*/

.home .container {
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    padding-top: 5rem;
}

.home-title {
    font-size: 5rem;
}

.text-container {
    padding-left: 2rem;
    border-left: var(--accent-blue) solid;
}

.overview-text {
    margin-bottom: 3rem;
    line-height: 2rem;
}

.home-button-container {
    display: inline;
}

.home-buttons {
    display: flex;
    line-height: 3rem;
}

.home-button {
    margin: 0 0.3rem;
    border: none;
    font-size: inherit;
    font-weight: 700;
}

.home-button a {
    color: var(--link-white);
    background-color: #2f3032;
    border-radius: 8%;
    padding: 0.5rem;
    transition: 0.5s ease-in-out;
}

.home-button a:hover {
    background-color: var(--accent-blue);
}

#last {
    color: var(--link-white);
    background-color: #2f3032;
    border-radius: 8%;
    padding: 0.5rem;
    transition: 0.5s ease-in-out;
}

#last:hover {
    background-color: var(--accent-blue);
}

/*projects*/

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;

}
    
.projects .container{
    display: flex;
    flex-direction: column;
}

.projects img {
    height: 34rem;
    margin: 2rem;
}

/*about*/


/*resume*/
.resume .container {
    margin: auto;
    height: 75rem;
    width: 50rem;
}

svg {
    height: 5rem;
    width: 5rem;
}


#resume-link {
    height: 62rem;
    width: 50rem;
}

.resume p {
    margin-bottom: 2rem;
}

.resume-text {
    display: flex;
}

.resume-text a {
    margin-left: 0.3rem;
    color: var(--accent-blue);
    font-weight: 700;
}

/*pdf*/

/*contact*/

.contact .container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}

.contact .container h1 {
    margin-bottom: 1rem;
}

.contact .container p {
    margin-bottom: 0.5rem;
}

h6 {
    font-weight: 400;
    font-style: normal;
}

form {
    margin-top: 2rem;
}

.form-part {
    border: var(--grey-border) solid 1px;
    margin-bottom: 1.5rem;
}

input {
    height: 3rem;
    width: 30rem;
}

textarea {
    height: 10rem;
    width: 30rem;
}

.submit {
    height: 3rem;
    width: 10rem;

}

.links {
    display: flex;
}

.contact .icon {
    font-size: 2rem;
    margin-left: 1rem;
    transition: 0.5s ease-in-out;
}

.contact .icon:hover {
    font-size: 3rem;
}

#linkedin {
    margin-left: 0;
}

/*footer*/

footer .container {
    margin: auto;
    max-width: 90%;

}

.footer-tag {
    margin: 1rem 2rem ;
    padding: 2rem 0rem 0rem 3rem;
    border-top: solid 0.3rem var(--grey-border);
}