/*general*/
:root {
    --BG-dark-grey: #0e0e18
}

* {
    color: aliceblue;
    background-color: var(--BG-dark-grey);
    display: block;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    margin: auto;
    width: 80%;
}

.svg-storage, title, style, script {
    display: none;
}

a {
    text-decoration: none;
}

/*logo*/
.svg-example {
    fill: aliceblue;
    height: 5rem;
    width: 5rem;
}

.svg-logo {
    fill: #087BC8;
    border: #087BC8 solid 0.3rem;
    border-radius: 5%;
    opacity: 70%;
}

/*nav*/

nav {
display: flex;
margin-left: auto;
margin-right: auto;
justify-content: space-between;
align-items: center;
padding: 3rem 4rem;
max-width: 65%;
}

.nav-menu {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.nav-buttons {
    height: 1.6rem;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-left: 2rem;
    padding-left: 0rem;
}

.nav-button {
    list-style: none;
    height: 1.6rem;
    display: contents;
    padding-bottom: 1rem;
}

.nav-button :hover{
    border-bottom:  #087BC8 3px solid;
}

#nav-home a {
    color: #087BC8;
}

/*mode swap*/

.button-icon {
    border: white solid 1px;
}

/*home*/

/*projects*/

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;

}
    
.projects .container{
    height: 34rem;
    display: flex;
    flex-direction: column;
}

.projects img {
    height: 34rem;
    margin: 2rem;
}

/*about*/


/*resume*/
svg {
    height: 5rem;
    width: 5rem;
}

/*contact*/

.contact .container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    height: 34rem;
}

.form-part {
    border: aliceblue solid 1px;
    margin-bottom: 1.5rem;
}

input {
    height: 3rem;
    width: 30rem;
}

textarea {
    height: 10rem;
    width: 30rem;
}

.submit {
    height: 3rem;
    width: 10rem;

}

.contact .icon {
    font-size: 1.5rem;
    margin-left: 1rem;

    
}

/*footer*/

footer .container {
    margin: auto;
    max-width: 90%;

}

.footer-tag {
    margin: 3rem 2rem 3rem;
    padding: 2rem 0rem 0rem 3rem;
    border-top: solid 0.3rem #6c6c6c;
}